header {
    background-color:darkslategrey;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 800px;
    margin: 0 auto !important;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    font-weight: bold;
}

li {
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 140%;
    width: 12%;
    text-align: center;
    color:lightgrey;
}


#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}

#techschool {
    color: rgb(83, 220, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin-top: -10px;

}

#routerwrapper {
    margin: 0 auto !important;
    max-width: 700px;
    
}

